body {
  font-family: 'Montserrat', sans-serif;
  color: #23005b;
}

.hero {
  background-image: url('bg.png');
  background-repeat: repeat;
}

a {
  color: #71579b;
}

.avatar {
  border-radius: 100%;
  overflow: hidden;
  width: 128px;
  height: auto;
}

.avatar img {
  height: 100%;
  width: 100%;
}